body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("/static/dota_bg.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    color: white;
}

.logout {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    height: 100vh;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a.active {
    color: white;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 40px;
}

.search-box {
    display: flex;
    margin-bottom: 20px;
}

.search-box input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search-box button {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border-bottom: 1px solid white;
    text-align: left;
    padding: 12px;
}

.hero {
    background: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/ogre_magi.png') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}
