<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1p&display=swap" rel="stylesheet">
    <title>Nexus - Home</title>
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='gamer_homepage.css') }}">
</head>

<body>
    <header class="navbar">
        <nav class="navbar-links">
            <a href="{{ url_for('order.library', gamer_id=gamer_id) }}" class="nav-link">LIBRARY</a>
            <a href="{{ url_for('gamer.storepage', gamer_id=gamer_id) }}" class="nav-link">STORE</a>
            <a href="{{ url_for('order.show_cart', gamer_id=gamer_id) }}" class="nav-link">CART</a>
            <a href="{{ url_for('wallet.walletpage', gamer_id=gamer_id) }}" class="nav-link">WALLET</a>
            <a href="{{ url_for('auth.logout_controller') }}" class="nav-link">LOGOUT</a>
        </nav>
    </header>

    <div class="wallet-widget" onclick="toggleWalletPopup()">
💰 Rp {{ "{:,.0f}".format(wallet_balance | float).replace(",", ".") }}
    </div>

    <section class="hero">
        <div class="hero-content">
            <a href="{{ url_for('auth.gamer_homepage', gamer_id=gamer_id) }}">NEXUS</a>
            <p class="tagline">Discovered, Download, Dominate.</p>
            <p class="description">
               At Nexus, we connect gamers to epic experiences. From action to adventure, strategy to simulation - your next favorite game starts here.
            </p>
        </div>
    </section>

    <script>
        const images = [
            "{{ url_for('static', filename='bggamer.jpg') }}",
            "{{ url_for('static', filename='bggamer2.jpg') }}",
            "{{ url_for('static', filename='images/bg3.jpg') }}",
            "{{ url_for('static', filename='images/bg4.jpg') }}"
        ];

        let heroSection = document.querySelector('.hero');

        // Set random image on page load
        let currentIndex = Math.floor(Math.random() * images.length);
        heroSection.style.backgroundImage = `url('${images[currentIndex]}')`;

        // Ganti setiap 30 detik
        setInterval(() => {
            currentIndex = (currentIndex + 1) % images.length;
            heroSection.style.backgroundImage = `url('${images[currentIndex]}')`;
        }, 30000);
    </script>

    <script>
        window.addEventListener("click", function (e) {
            const popup = document.getElementById("walletPopup");
            const widget = document.querySelector(".wallet-widget");
            if (!popup.contains(e.target) && !widget.contains(e.target)) {
                popup.style.display = "none";
            }
        });
    </script>
</body>

</html>