<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus - Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('auth.static', filename='gamer_homepage.css') }}"
    />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="{{ url_for('auth.gamer_homepage', gamer_id=gamer_id) }}"
          >NEXUS</a
        >
      </div>
      <!-- <div class="search-bar">
            <input type="text" placeholder="Search">
            <button>🔍</button>
        </div> -->
      <nav>
        <a
          href="{{  url_for('auth.gamer_homepage', gamer_id=gamer_id) }}"
          class="active"
          >HOME</a
        >
        <a href="{{ url_for('gamer.gamer_library', gamer_id=gamer_id) }}"
          >LIBRARY</a
        >
        <a href="{{ url_for('gamer.gamer_storepage', gamer_id=gamer_id) }}"
          >STORE</a
        >
        <a href="{{ url_for('gamer.show_cart', gamer_id=gamer_id) }}">CART</a>

        <a href="{{ url_for('auth.logout_controller') }}">LOGOUT</a>
      </nav>
    </header>

    <!-- <div class="wallet-widget" onclick="toggleWalletPopup()">
💰 Rp {{ wallet_balance }}
    </div> -->

    <section class="hero">
      <div class="hero-content">
        <h1>New Collection</h1>
        <em>The long wait is over</em>
        <p>
          Writing effectively is an art. Start by using simple, everyday words
          people can easily understand. Be clear and direct to the point. Keep
          your thoughts flowing logically, and aim for brevity unless you're
          writing in the long form.
          <br /><br />
          Your ideas have a purpose so choose words that accurately express
          them. Ensure your grammar is flawless as it impacts your credibility.
          Use the active voice whenever possible as it makes any narrative
          easier to read.
        </p>
        <div class="hero-logo">
          <img
            src="https://upload.wikimedia.org/wikipedia/en/7/7f/Dota_2_logo.svg"
            alt="DOTA 2"
          />
          <span style="font-size: 2rem; font-weight: bold">DOTA 2</span>
        </div>
      </div>
    </section>
    <script>
      window.addEventListener("click", function (e) {
        const popup = document.getElementById("walletPopup");
        const widget = document.querySelector(".wallet-widget");
        if (!popup.contains(e.target) && !widget.contains(e.target)) {
          popup.style.display = "none";
        }
      });
    </script>
  </body>
</html>
