<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Organize Games - Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('auth.static', filename='publisher_homepage.css') }}">
  
</head>
<body>
  <nav>
    <h1>Organize Games</h1>
    <ul>
      <li><a class="logout" href="{{ url_for('auth.logout_controller') }}" style="position: fixed; top: 20px; right: 30px;">Logout</a></li>
    </ul>
  </nav>

  <div class="hero">
    <div class="hero-content">
      <h2>Welcome, Publisher</h2>
      <p>Organize all games and enforce community rules with ease.</p>
      <a href="{{ url_for('publisher.published_games', publisher_id=publisher_id) }}" class="active">Go to Organize Games</a>
    </div>
  </div>
</body>
</html>
