* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('bgcart.jpeg') no-repeat center fixed;
    background-size: cover; 
    background-color: #000;
    color: white;
    background-color: #000;
    color: white;
}

/* Logo dan Header */
.logo a {
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #1e90ff;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.logo a:hover {
    color: #00ffc8;
    transform: scale(1.1);
    text-shadow: 0 0 10px #00ffc8;
}

.logo-img {
    height: 30px; /* atau 50px, tergantung ukuran gambarnya */
    width: auto;
    transition: all 0.3s ease;
    margin-right: 40px;
    margin-bottom: -5px;
}

.logo-img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px #00ffc8);
}

nav a {
    font-family: 'Orbitron', sans-serif;
}

.navbar {
  width: 100%;
  padding: 16px 32px;
  background: rgba(18, 18, 18, 0.4);/* transparan */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.1); /* glass border halus */
  border-radius: 5px; /* opsional: kasih sedikit lengkung */
}


.navbar-links {
  display: flex;
  gap: 24px;
  margin-right: 2px; /* Tambah jarak ke tepi kanan */
}

.nav-link {
  color: #cccccc;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  /* border-radius: 8px; */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #ffffff;
  border-bottom: #ecedef 2px solid; /* garis bawah */
  transform: translateY(-2px); /* efek hover */
  transform: scale(1.05);
}

.cart-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: Chakra Petch, sans-serif;
}

.cart-item {
  display: flex;
  gap: 1.5rem;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.cart-item img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
}

.cart-info h2 {
  margin: 0 0 0.5rem;
}

.cart-info p {
  margin: 0.3rem 0;
}

button {
  margin-top: 1rem;
  background: crimson;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: darkred;
}

.empty-cart {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #bbb;
}

.cart-item input[type="checkbox"] {
  margin-right: 15px;
  transform: scale(1.4);
}

.checkout-button {
  background-color: #00c853;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #009624;
}
